.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .customer-section {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
  }
  
  .admin-section {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ecc71;
  }
  
  .button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #fff;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  